@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Thumb color */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #1f2937; /* Track color */
}

.custom-scrollbar2::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar2::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Thumb color */
  border-radius: 4px;
}

.custom-scrollbar2::-webkit-scrollbar-track {
  background-color: #00000; /* Track color */
}

 /* Hover definition */
.has-definition {
  /* position: relative; */
  cursor: pointer;
}

.has-definition::after {
  content: attr(data-definition);
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
}

.has-definition:hover::after {
  visibility: visible;
  opacity: 1;
}

a {
  color: rgb(92 172 255)
}

.translated {
  color: #ffd840;
}
